:root {
    --main-buttons-focuse-color: #404BBF;
    --main-butons-color: #4D5AE5;
    --main-title-color: #2E2F42;
    --main-subtitle-color: #434455;
    --contacts-color: #434455;
    --logo-font-acsent: 'Raleway', sans-serif;
    --logo-font: 'Raleway', sans-serif;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #2E2F42;
    font-size: 16px;
}


h1 h2 h3 h4 h5 h6 p {
    margin: 0;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    border: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
}

.main-header-logo {
    font-family: var(--logo-font-acsent);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 24px 24px 24px 0px;
    margin-right: 28px;
    outline: none;
}


.logo-acsent {
    color: var(--main-butons-color);
}

.logo {
    color: #2E2F42;
}

.logo-footer {
    color: #F4F4FD;
}

.header-logo footer {
    margin: 100px 0px 0px 156px;
    outline: none;
}

/* ---------------header-------------- */
.list {
    list-style: none;
    text-decoration: none;
}

.header-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus,
.header-contact:hover,
.header-contact:focus {
    color: var(--main-buttons-focuse-color);
    outline: none;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-block {
    display: flex;
}

.header-navigation {
    display: flex;
}

.header-list {
    display: flex;
    gap: 40px;
}

.adress {
    margin-left: auto;
}

.header-adress {
    gap: 40px;
    display: flex;
}

.header-contact {
    padding: 24px 0;
    display: block;
}

/* --------------hero-section---------- */
.hero-section {
    background-color: #2E2F42;
    width: 1440px;
    margin: 0% auto;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.hero-title {
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 48px;
    margin: 0 auto;
    text-align: center;
}

.hero-subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    outline: none;
    margin: 0% auto;
    width: 169px;
    height: 56px;
}

.hero-link {
    text-decoration: none;
    outline: none;
}

.hero-button {
    background-color: var(--main-butons-color);
    border-color: var(--main-butons-color);
    min-width: 169px;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 0%;

}


.hero-button:is(:hover, :focus) {
    background-color: var(--main-buttons-focuse-color);
    border-color: var(--main-buttons-focuse-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
}

/* -------------Section about----------- */

.section-about {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
}


.about-list {
    display: flex;
    gap: 24px;
}

.about-item {
    width: calc((100%-72px) / 4)
}

.about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    padding: 0px 0px 8px 0px;
    width: 264px;
    margin: 0px 0px;
}

.about-subtitle {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-subtitle-color);
    margin: 0px;
    width: 264px;
    height: 72px;
}

.icon-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: #F4F4FD;
    margin-bottom: 8px;
}

.icon-about-item {
    width: 64px;
    height: 64px;
}

/* ------------Work section------------- */

.worck-section {
    padding-bottom: 120px;
}


.worck-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
    text-align: center;
    margin: 0 0 72px 0;
}

.worck-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.worck-item {
    width: calc((100% - 48px) / 3);

}

/* -----------Team section-------------- */

.team-section {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-maintitle {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
    margin: auto;
    text-align: center;
    margin-bottom: 72px;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    padding-bottom: 8px;
    margin: 0 auto;
}

.team-subtitle {
    font-weight: 400;
    color: var(--main-subtitle-color);
    margin: 0 auto;
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-item {
    padding: 32px 16px;
    text-align: center;

}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--main-butons-color);
}


.team-social-link:hover {
    background-color: var(--main-buttons-focuse-color);
    outline: none;
}

.team-social-link:focus {
    background-color: var(--main-buttons-focuse-color);
    outline: none;
}

/* customers */

.customers-section {
    padding-top: 130px;
    padding-bottom: 120px;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin: 0% auto;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.customers-item {
    width: 168px;
    height: 88px;
}


.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: #8E8F99;
    border: 1px solid #8E8F99;
    padding: 16px 32px;
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: #8E8F99;
}

.customers-link:hover .customers-icon {
    fill: var(--main-buttons-focuse-color);
}

.customers-link:focus .customers-icon {
    fill: var(--main-buttons-focuse-color);
}

.customers-link:hover {
    border-color: var(--main-buttons-focuse-color);
}

.customers-link:focus {
    border-color: var(--main-buttons-focuse-color);
    outline: none;
}

/* -----------Footer section------------ */

.main-footer-logo {
    font-family: var(--logo-font-acsent);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 16px;
    outline: none;
}

.footer-subtitle {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    width: 264px;
    margin: 16px 0 0;
    display: flex;
}

.footer-section {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-icon {
    fill: #F4F4FD;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-link:hover {
    background-color: #31D0AA;
    outline: none;
}

.footer-social-link:focus {
    background-color: #31D0AA;
    outline: none;
}

.footer-social-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0% auto;
    margin-bottom: 16px;
}

.footer-description {
    display: flex;
    gap: 120px;
}

/* -----------------------------------------------------portfolio---------------------------------------------------- */


/* -----------butons------------- */

.buttons {
    background-color: #F4F4FD;
    border-color: #E7E9FC;
    border: 1px solid #E7E9FC;
    cursor: pointer;
}

.buttons:focus,
.buttons:hover {
    background-color: var(--main-buttons-focuse-color);
    border-color: var(--main-buttons-focuse-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: none;
}

.buttons-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--main-butons-color);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 4px;
}

.buttons-text:focus,
.buttons-text:hover {
    color: #FFFFFF;
    outline: none;
}

.main-buttons {
    border: none;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;

}

.hero-section2 {
    padding-top: 96px;
    padding-bottom: 120px;
}

/* -----------------presentation------- */


.presentation-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.presentation-item {
    width: calc((100% - 48px) / 3);
}

.presentation-content {
    padding: 32px;
    padding-left: 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.presentation-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin: 0 auto;
    padding-bottom: 8px;
}



.presentation-description {
    font-weight: 400;
    color: var(--main-subtitle-color);
    margin: 0 auto;
}

.presentation-link {
    text-decoration: none;
    outline: none;
    display: block;
}

.presentation-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.presentation-item:hover,
.presentation-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    outline: none;
}